.header-profile {
    margin-bottom: 2rem;
}

.logo_photographer {
    transform: scale(0.7);
}

.profile-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FAFAFA;
    margin: 0 4rem 2rem 4rem;
    font-family: 'Roboto', sans-serif;
}

.photographer-name {
    color: #D3573C;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.photographer-profile-infos {
    margin: 0 0 1rem 2rem;
    margin-top: 0;
    display: grid;
}

.localisation-title {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.profile-comment {
    color: #525252;
    margin-bottom: 1.5rem;
}

.tag-nav {
    margin-top: 2rem;
}

.profile-nav {
    margin-bottom: 1rem;
}

.contact-button-top {
    margin: 2rem 0 1rem 1rem;
    width: 7rem;
    color:white;
    background-color: #901C1C;
    padding: 1.1em 0.5rem 1.1rem 0.9rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.contact-button-bottom {
    color:white;
    background-color: #901C1C;
    position: fixed;
    width: 7rem;
    bottom: 1rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    text-align: center;
    align-items: center;
    display: none;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.profile-pic {
    transform: scale(0.8);
}

.content-img {
    border-radius: 5px;
    width:20rem;
    height:20rem;
    object-fit:cover;
    cursor: pointer;
}

.media-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4rem 2rem 4rem;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

.img-container {
    margin: 1rem;
    text-align: center;
}

.bottom {
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
    color: #901C1C;
    display: flex;
    width: 20rem;
}

.like-counter {
    bottom: 0;
    right: 15%;
    position: fixed;
    display: flex;
    background-color: #dba092;
    width: 10rem;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
}

.like {
    cursor: pointer;
}

.container {
    display:flex;
}

.total-counter {
    margin-right: 0.5rem;
}

.selection-container {
    margin: 0 4rem 2rem 4rem;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.select {
    margin-left: 1rem;
    background-color: #901C1C;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 5px;
}

select > option {
    height: 5rem;
}

.select-text {
    margin-top: 0.5rem;
}

.background-form, .background-form-lightbox {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(138, 139, 148, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.contact-form {
    background-color: #dba092;
    padding: 1.5rem;
    height: fit-content;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-radius: 5px;
    width: 25rem;
}

.header-form {
    display: flex;
    justify-content: space-between;
}

.title-form {
    width: 20rem;
    margin: 0 0 2rem 0;
    font-weight: normal;
    font-size: 2.5rem;
}

.close-form {
    color: white;
    cursor: pointer;
    font-size: 2rem;
}

.firstname-error, .name-error, .email-error, .msg-error {
    color:red;
    font-size: small;
    display: none;
    margin: 0;
}

.text-control {
    width: -webkit-fill-available;
    height: 2rem;
    border-color: white;
    border-radius: 5px;
}

.textarea-control {
    width: -webkit-fill-available;
    height: 4rem;
    border-color: white;
    border-radius: 5px;
}

.input-label {
    font-size: 1.5rem;
    color: #525252;
}

.form-data {
    margin-top: 1rem;
}

.send-form {
    padding: 1rem 0 1rem 0;
    text-align: center;
    margin: 2rem 0 1rem 0;
    width: 7rem;
    color:white;
    background-color: #901C1C;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}

.lightbox-img-container {
    margin: 1rem 0 3rem 0;
}

.lightbox-img, .lightbox-video {
    border-radius: 5px;
    width:100%;
    height:100%;
    object-fit:contain;
}

.lightbox-title {
    color: #901C1C;
    font-size: 1.3rem;
}

.lightbox {
    display: flex;
    width: 80%;
    height: 80%;
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.left-div, .right-div {
    color: #901C1C;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-chevron-right , .fa-chevron-left {
    cursor: pointer;
}

.close-lightbox {
    color: #901C1C;;
    cursor: pointer;
    font-size: 200%;
    position: absolute;
    top: 13%;
}

.lightbox-img-container {
    width: 100%;
}



@media(max-width:1200px) {

    .media-content {
        margin: 0 auto;
    }

    .profile-card {
        margin:0 auto;
        display: flex;
        justify-content: center;
    }

    .content-img {
        width:15rem;
        height:15rem;
    }

    .bottom {
        width: 15rem;
    }

}

@media(max-width:800px) {

    .contact {
        display: none;
    }

    .contact-button-bottom {
        display: block;
    }

    .photographer-name {
        margin: 0.5rem 0 0.25rem 0;
        font-size: 1.5rem;
    }
    
    .photographer-profile-infos {
        margin:0 0 0 0.5rem;
    }
    
    .localisation-title {
        margin: 0.5rem 0 0.25rem 0;
    }

    .photographer-tag {
        font-size: 0.7rem;
        margin: 0.5rem 0.25rem 0 0;
    }
    
    .profile-comment {
        margin:0;
        font-size: 0.8rem;
    }

    .profile-pic {
        margin: 2rem 0 0 0.5rem;
        width:80px;
        height:80px;
        transform: scale(1);
    }

    .content-img {
        width:15rem;
        height:10rem;
    }

    .like-counter {
        display: none;
    }

    .selection-container {
        display: none;
    }
}
