.photographer-article {
    margin-bottom: 3rem;
}

.photographer-img {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius: 100%;
}

.photographer-link {
    color: inherit;
    text-decoration: inherit;
}

.photographer-infos {
    margin-top: 0;
    display: grid;
}

.photographer-localisation {
    color: #901C1C;
}

.photographer-comment {
    font-size: 0.9rem;
}

.photographer-price {
    color: #525252;
    font-size: 0.9rem;
}

.photographer-tag {
    color: #901C1C;
    font-weight: bold;
    cursor: pointer;
}

.photographer-tag-selected {
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-color: #901C1C;
    background-color: #901C1C;
}

h2 {
    color: #D3573C;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

@media(max-width:1400px) {

    .photographer-infos {
        justify-items: center;
    }
}

