header {
    color: #901C1C;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.tag {
    color: inherit;
    text-decoration: inherit;
    margin-right: 0.5rem;
    border-radius: 100px;
    border: solid 1px;
    padding: 0.5rem;
    border-color: #525252;
}

.tag:hover, .tag:focus {
    color: white;
    margin-right: 0.5rem;
    border-color: #901C1C;
    background-color: #901C1C;
}

.tagLink {
    color: inherit;
    text-decoration: inherit;
}

.logo {
    transform: scale(0.9);
}

@media(max-width:880px) {
    header {
        display: grid;
    }

    h1 {
        display: none;
    }

    span {
        margin-bottom: 0.5rem;
        display: inline-flex;
        
    }
}